<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!-- favicon -->
    <link rel="icon" type="image/png" href="img/cloud.png" />

    <title>cloudo</title>
</head>

<body>

    <div id="container">

        <header>
            <img src="img/gif_cloud.gif" />
            <span id="logotext">cloudo - your own weather forecaster</span id="logotext">
        </header>

        <nav>
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link active" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/FMularski/weather-app" target="blank">GitHub</a>
                </li>
            </ul>
        </nav>

        <main>
            <form id="form" class="form-inline md-form form-sm mt-0" method="POST">
                <input class="form-control form-control-sm w-100" type="text" placeholder="Search city..."
                    aria-label="Search" name="city">
            </form>

            <h3>{{msg}}</h3>

            {{#if valid_city}}
            <h3 id="forecastfor">Forecast for {{city}}, {{country}}</h3>

            <div class="card" style="width: 18rem;">
                <img src={{icon_list.[0]}} class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{date_list.[0]}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Weather: {{desc_list.[0]}}</li>
                    <li class="list-group-item">Min. temperature: {{min_temp_list.[0]}}°C<br />Max.
                        temperature.: {{max_temp_list.[0]}}°C<br />Feels like temperature: {{feel_temp_list.[0]}}°C</li>
                    <li class="list-group-item">Pressure: {{pressure_list.[0]}} hPa</li>
                    <li class="list-group-item">Humidity: {{hum_list.[0]}}%</li>
                    <li class="list-group-item">Wind speed: {{wind_speed_list.[0]}} km/h<br />Wind
                        degrees: {{wind_deg_list.[0]}}°</li>
                </ul>
            </div>

            <div class="card" style="width: 18rem;">
                <img src={{icon_list.[1]}} class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{date_list.[1]}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Weather: {{desc_list.[1]}}</li>
                    <li class="list-group-item">Min. temperature: {{min_temp_list.[1]}}°C<br />Max.
                        temperature.: {{max_temp_list.[1]}}°C<br />Feels like temperature: {{feel_temp_list.[1]}}°C</li>
                    <li class="list-group-item">Pressure: {{pressure_list.[1]}} hPa</li>
                    <li class="list-group-item">Humidity: {{hum_list.[1]}}%</li>
                    <li class="list-group-item">Wind speed: {{wind_speed_list.[1]}} km/h<br />Wind
                        degrees: {{wind_deg_list.[1]}}°</li>
                </ul>
            </div>

            <div class="card" style="width: 18rem;">
                <img src={{icon_list.[2]}} class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{date_list.[2]}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Weather: {{desc_list.[2]}}</li>
                    <li class="list-group-item">Min. temperature: {{min_temp_list.[2]}}°C<br />Max.
                        temperature.: {{max_temp_list.[2]}}°C<br />Feels like temperature: {{feel_temp_list.[2]}}°C</li>
                    <li class="list-group-item">Pressure: {{pressure_list.[2]}} hPa</li>
                    <li class="list-group-item">Humidity: {{hum_list.[2]}}%</li>
                    <li class="list-group-item">Wind speed: {{wind_speed_list.[2]}} km/h<br />Wind
                        degrees: {{wind_deg_list.[2]}}°</li>
                </ul>
            </div>

            <div class="card" style="width: 18rem;">
                <img src={{icon_list.[3]}} class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{date_list.[3]}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Weather: {{desc_list.[3]}}</li>
                    <li class="list-group-item">Min. temperature: {{min_temp_list.[3]}}°C<br />Max.
                        temperature.: {{max_temp_list.[3]}}°C<br />Feels like temperature: {{feel_temp_list.[3]}}°C</li>
                    <li class="list-group-item">Pressure: {{pressure_list.[3]}} hPa</li>
                    <li class="list-group-item">Humidity: {{hum_list.[3]}}%</li>
                    <li class="list-group-item">Wind speed: {{wind_speed_list.[3]}} km/h<br />Wind
                        degrees: {{wind_deg_list.[3]}}°</li>
                </ul>
            </div>

            <div class="card" style="width: 18rem;">
                <img src={{icon_list.[4]}} class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{date_list.[4]}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Weather: {{desc_list.[4]}}</li>
                    <li class="list-group-item">Min. temperature: {{min_temp_list.[4]}}°C<br />Max.
                        temperature.: {{max_temp_list.[4]}}°C<br />Feels like temperature: {{feel_temp_list.[4]}}°C</li>
                    <li class="list-group-item">Pressure: {{pressure_list.[4]}} hPa</li>
                    <li class="list-group-item">Humidity: {{hum_list.[4]}}%</li>
                    <li class="list-group-item">Wind speed: {{wind_speed_list.[4]}} km/h<br />Wind
                        degrees: {{wind_deg_list.[4]}}°</li>
                </ul>
            </div>

            <div class="card" style="width: 18rem;">
                <img src={{icon_list.[5]}} class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{date_list.[5]}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Weather: {{desc_list.[5]}}</li>
                    <li class="list-group-item">Min. temperature: {{min_temp_list.[5]}}°C<br />Max.
                        temperature.: {{max_temp_list.[5]}}°C<br />Feels like temperature: {{feel_temp_list.[5]}}°C</li>
                    <li class="list-group-item">Pressure: {{pressure_list.[5]}} hPa</li>
                    <li class="list-group-item">Humidity: {{hum_list.[5]}}%</li>
                    <li class="list-group-item">Wind speed: {{wind_speed_list.[5]}} km/h<br />Wind
                        degrees: {{wind_deg_list.[5]}}°</li>
                </ul>
            </div>

            <div class="card" style="width: 18rem;">
                <img src={{icon_list.[3]}} class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{date_list.[6]}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Weather: {{desc_list.[6]}}</li>
                    <li class="list-group-item">Min. temperature: {{min_temp_list.[6]}}°C<br />Max.
                        temperature.: {{max_temp_list.[6]}}°C<br />Feels like temperature: {{feel_temp_list.[6]}}°C</li>
                    <li class="list-group-item">Pressure: {{pressure_list.[6]}} hPa</li>
                    <li class="list-group-item">Humidity: {{hum_list.[6]}}%</li>
                    <li class="list-group-item">Wind speed: {{wind_speed_list.[6]}} km/h<br />Wind
                        degrees: {{wind_deg_list.[6]}}°</li>
                </ul>
            </div>

            <div class="card" style="width: 18rem;">
                <img src={{icon_list.[7]}} class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{date_list.[7]}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Weather: {{desc_list.[7]}}</li>
                    <li class="list-group-item">Min. temperature: {{min_temp_list.[7]}}°C<br />Max.
                        temperature.: {{max_temp_list.[7]}}°C<br />Feels like temperature: {{feel_temp_list.[7]}}°C</li>
                    <li class="list-group-item">Pressure: {{pressure_list.[7]}} hPa</li>
                    <li class="list-group-item">Humidity: {{hum_list.[7]}}%</li>
                    <li class="list-group-item">Wind speed: {{wind_speed_list.[7]}} km/h<br />Wind
                        degrees: {{wind_deg_list.[7]}}°</li>
                </ul>
            </div>

            <div class="card" style="width: 18rem;">
                <img src={{icon_list.[8]}} class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{date_list.[8]}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Weather: {{desc_list.[8]}}</li>
                    <li class="list-group-item">Min. temperature: {{min_temp_list.[8]}}°C<br />Max.
                        temperature.: {{max_temp_list.[8]}}°C<br />Feels like temperature: {{feel_temp_list.[8]}}°C</li>
                    <li class="list-group-item">Pressure: {{pressure_list.[8]}} hPa</li>
                    <li class="list-group-item">Humidity: {{hum_list.[8]}}%</li>
                    <li class="list-group-item">Wind speed: {{wind_speed_list.[8]}} km/h<br />Wind
                        degrees: {{wind_deg_list.[8]}}°</li>
                </ul>
            </div>

            <div class="card" style="width: 18rem;">
                <img src={{icon_list.[9]}} class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{date_list.[9]}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Weather: {{desc_list.[9]}}</li>
                    <li class="list-group-item">Min. temperature: {{min_temp_list.[9]}}°C<br />Max.
                        temperature.: {{max_temp_list.[9]}}°C<br />Feels like temperature: {{feel_temp_list.[9]}}°C</li>
                    <li class="list-group-item">Pressure: {{pressure_list.[9]}} hPa</li>
                    <li class="list-group-item">Humidity: {{hum_list.[9]}}%</li>
                    <li class="list-group-item">Wind speed: {{wind_speed_list.[9]}} km/h<br />Wind
                        degrees: {{wind_deg_list.[9]}}°</li>
                </ul>
            </div>

            <div class="card" style="width: 18rem;">
                <img src={{icon_list.[10]}} class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{date_list.[10]}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Weather: {{desc_list.[10]}}</li>
                    <li class="list-group-item">Min. temperature: {{min_temp_list.[10]}}°C<br />Max.
                        temperature.: {{max_temp_list.[10]}}°C<br />Feels like temperature: {{feel_temp_list.[10]}}°C
                    </li>
                    <li class="list-group-item">Pressure: {{pressure_list.[10]}} hPa</li>
                    <li class="list-group-item">Humidity: {{hum_list.[10]}}%</li>
                    <li class="list-group-item">Wind speed: {{wind_speed_list.[10]}} km/h<br />Wind
                        degrees: {{wind_deg_list.[10]}}°</li>
                </ul>
            </div>

            <div class="card" style="width: 18rem;">
                <img src={{icon_list.[11]}} class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{date_list.[11]}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Weather: {{desc_list.[11]}}</li>
                    <li class="list-group-item">Min. temperature: {{min_temp_list.[11]}}°C<br />Max.
                        temperature.: {{max_temp_list.[11]}}°C<br />Feels like temperature: {{feel_temp_list.[11]}}°C
                    </li>
                    <li class="list-group-item">Pressure: {{pressure_list.[11]}} hPa</li>
                    <li class="list-group-item">Humidity: {{hum_list.[11]}}%</li>
                    <li class="list-group-item">Wind speed: {{wind_speed_list.[11]}} km/h<br />Wind
                        degrees: {{wind_deg_list.[11]}}°</li>
                </ul>
            </div>

            <div class="card" style="width: 18rem;">
                <img src={{icon_list.[12]}} class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{date_list.[12]}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Weather: {{desc_list.[12]}}</li>
                    <li class="list-group-item">Min. temperature: {{min_temp_list.[12]}}°C<br />Max.
                        temperature.: {{max_temp_list.[12]}}°C<br />Feels like temperature: {{feel_temp_list.[12]}}°C
                    </li>
                    <li class="list-group-item">Pressure: {{pressure_list.[12]}} hPa</li>
                    <li class="list-group-item">Humidity: {{hum_list.[12]}}%</li>
                    <li class="list-group-item">Wind speed: {{wind_speed_list.[12]}} km/h<br />Wind
                        degrees: {{wind_deg_list.[12]}}°</li>
                </ul>
            </div>

            <div class="card" style="width: 18rem;">
                <img src={{icon_list.[13]}} class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{date_list.[13]}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Weather: {{desc_list.[13]}}</li>
                    <li class="list-group-item">Min. temperature: {{min_temp_list.[13]}}°C<br />Max.
                        temperature.: {{max_temp_list.[13]}}°C<br />Feels like temperature: {{feel_temp_list.[13]}}°C
                    </li>
                    <li class="list-group-item">Pressure: {{pressure_list.[13]}} hPa</li>
                    <li class="list-group-item">Humidity: {{hum_list.[13]}}%</li>
                    <li class="list-group-item">Wind speed: {{wind_speed_list.[13]}} km/h<br />Wind
                        degrees: {{wind_deg_list.[13]}}°</li>
                </ul>
            </div>

            <div class="card" style="width: 18rem;">
                <img src={{icon_list.[14]}} class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{date_list.[14]}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Weather: {{desc_list.[14]}}</li>
                    <li class="list-group-item">Min. temperature: {{min_temp_list.[14]}}°C<br />Max.
                        temperature.: {{max_temp_list.[14]}}°C<br />Feels like temperature: {{feel_temp_list.[14]}}°C
                    </li>
                    <li class="list-group-item">Pressure: {{pressure_list.[14]}} hPa</li>
                    <li class="list-group-item">Humidity: {{hum_list.[14]}}%</li>
                    <li class="list-group-item">Wind speed: {{wind_speed_list.[14]}} km/h<br />Wind
                        degrees: {{wind_deg_list.[14]}}°</li>
                </ul>
            </div>

            <div class="card" style="width: 18rem;">
                <img src={{icon_list.[15]}} class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{date_list.[15]}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Weather: {{desc_list.[15]}}</li>
                    <li class="list-group-item">Min. temperature: {{min_temp_list.[15]}}°C<br />Max.
                        temperature.: {{max_temp_list.[15]}}°C<br />Feels like temperature: {{feel_temp_list.[15]}}°C
                    </li>
                    <li class="list-group-item">Pressure: {{pressure_list.[15]}} hPa</li>
                    <li class="list-group-item">Humidity: {{hum_list.[15]}}%</li>
                    <li class="list-group-item">Wind speed: {{wind_speed_list.[15]}} km/h<br />Wind
                        degrees: {{wind_deg_list.[15]}}°</li>
                </ul>
            </div>

            <div class="card" style="width: 18rem;">
                <img src={{icon_list.[16]}} class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{date_list.[16]}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Weather: {{desc_list.[16]}}</li>
                    <li class="list-group-item">Min. temperature: {{min_temp_list.[16]}}°C<br />Max.
                        temperature.: {{max_temp_list.[16]}}°C<br />Feels like temperature: {{feel_temp_list.[16]}}°C
                    </li>
                    <li class="list-group-item">Pressure: {{pressure_list.[16]}} hPa</li>
                    <li class="list-group-item">Humidity: {{hum_list.[16]}}%</li>
                    <li class="list-group-item">Wind speed: {{wind_speed_list.[16]}} km/h<br />Wind
                        degrees: {{wind_deg_list.[16]}}°</li>
                </ul>
            </div>

            <div class="card" style="width: 18rem;">
                <img src={{icon_list.[17]}} class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{date_list.[17]}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Weather: {{desc_list.[17]}}</li>
                    <li class="list-group-item">Min. temperature: {{min_temp_list.[17]}}°C<br />Max.
                        temperature.: {{max_temp_list.[17]}}°C<br />Feels like temperature: {{feel_temp_list.[17]}}°C
                    </li>
                    <li class="list-group-item">Pressure: {{pressure_list.[17]}} hPa</li>
                    <li class="list-group-item">Humidity: {{hum_list.[17]}}%</li>
                    <li class="list-group-item">Wind speed: {{wind_speed_list.[17]}} km/h<br />Wind
                        degrees: {{wind_deg_list.[17]}}°</li>
                </ul>
            </div>

            <div class="card" style="width: 18rem;">
                <img src={{icon_list.[18]}} class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{date_list.[18]}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Weather: {{desc_list.[18]}}</li>
                    <li class="list-group-item">Min. temperature: {{min_temp_list.[18]}}°C<br />Max.
                        temperature.: {{max_temp_list.[18]}}°C<br />Feels like temperature: {{feel_temp_list.[18]}}°C
                    </li>
                    <li class="list-group-item">Pressure: {{pressure_list.[18]}} hPa</li>
                    <li class="list-group-item">Humidity: {{hum_list.[18]}}%</li>
                    <li class="list-group-item">Wind speed: {{wind_speed_list.[18]}} km/h<br />Wind
                        degrees: {{wind_deg_list.[18]}}°</li>
                </ul>
            </div>

            <div class="card" style="width: 18rem;">
                <img src={{icon_list.[19]}} class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{date_list.[19]}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Weather: {{desc_list.[19]}}</li>
                    <li class="list-group-item">Min. temperature: {{min_temp_list.[19]}}°C<br />Max.
                        temperature.: {{max_temp_list.[19]}}°C<br />Feels like temperature: {{feel_temp_list.[19]}}°C
                    </li>
                    <li class="list-group-item">Pressure: {{pressure_list.[19]}} hPa</li>
                    <li class="list-group-item">Humidity: {{hum_list.[19]}}%</li>
                    <li class="list-group-item">Wind speed: {{wind_speed_list.[19]}} km/h<br />Wind
                        degrees: {{wind_deg_list.[19]}}°</li>
                </ul>
            </div>

            <div class="card" style="width: 18rem;">
                <img src={{icon_list.[20]}} class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{date_list.[20]}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Weather: {{desc_list.[20]}}</li>
                    <li class="list-group-item">Min. temperature: {{min_temp_list.[20]}}°C<br />Max.
                        temperature.: {{max_temp_list.[20]}}°C<br />Feels like temperature: {{feel_temp_list.[20]}}°C
                    </li>
                    <li class="list-group-item">Pressure: {{pressure_list.[20]}} hPa</li>
                    <li class="list-group-item">Humidity: {{hum_list.[20]}}%</li>
                    <li class="list-group-item">Wind speed: {{wind_speed_list.[20]}} km/h<br />Wind
                        degrees: {{wind_deg_list.[20]}}°</li>
                </ul>
            </div>

            <div class="card" style="width: 18rem;">
                <img src={{icon_list.[21]}} class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{date_list.[21]}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Weather: {{desc_list.[21]}}</li>
                    <li class="list-group-item">Min. temperature: {{min_temp_list.[21]}}°C<br />Max.
                        temperature.: {{max_temp_list.[21]}}°C<br />Feels like temperature: {{feel_temp_list.[21]}}°C
                    </li>
                    <li class="list-group-item">Pressure: {{pressure_list.[21]}} hPa</li>
                    <li class="list-group-item">Humidity: {{hum_list.[21]}}%</li>
                    <li class="list-group-item">Wind speed: {{wind_speed_list.[21]}} km/h<br />Wind
                        degrees: {{wind_deg_list.[21]}}°</li>
                </ul>
            </div>

            <div class="card" style="width: 18rem;">
                <img src={{icon_list.[22]}} class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{date_list.[22]}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Weather: {{desc_list.[22]}}</li>
                    <li class="list-group-item">Min. temperature: {{min_temp_list.[22]}}°C<br />Max.
                        temperature.: {{max_temp_list.[22]}}°C<br />Feels like temperature: {{feel_temp_list.[22]}}°C
                    </li>
                    <li class="list-group-item">Pressure: {{pressure_list.[22]}} hPa</li>
                    <li class="list-group-item">Humidity: {{hum_list.[22]}}%</li>
                    <li class="list-group-item">Wind speed: {{wind_speed_list.[22]}} km/h<br />Wind
                        degrees: {{wind_deg_list.[22]}}°</li>
                </ul>
            </div>

            <div class="card" style="width: 18rem;">
                <img src={{icon_list.[23]}} class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{date_list.[23]}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Weather: {{desc_list.[23]}}</li>
                    <li class="list-group-item">Min. temperature: {{min_temp_list.[23]}}°C<br />Max.
                        temperature.: {{max_temp_list.[23]}}°C<br />Feels like temperature: {{feel_temp_list.[23]}}°C
                    </li>
                    <li class="list-group-item">Pressure: {{pressure_list.[23]}} hPa</li>
                    <li class="list-group-item">Humidity: {{hum_list.[23]}}%</li>
                    <li class="list-group-item">Wind speed: {{wind_speed_list.[23]}} km/h<br />Wind
                        degrees: {{wind_deg_list.[23]}}°</li>
                </ul>
            </div>

            <div class="card" style="width: 18rem;">
                <img src={{icon_list.[24]}} class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{date_list.[24]}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Weather: {{desc_list.[24]}}</li>
                    <li class="list-group-item">Min. temperature: {{min_temp_list.[24]}}°C<br />Max.
                        temperature.: {{max_temp_list.[24]}}°C<br />Feels like temperature: {{feel_temp_list.[24]}}°C
                    </li>
                    <li class="list-group-item">Pressure: {{pressure_list.[24]}} hPa</li>
                    <li class="list-group-item">Humidity: {{hum_list.[24]}}%</li>
                    <li class="list-group-item">Wind speed: {{wind_speed_list.[24]}} km/h<br />Wind
                        degrees: {{wind_deg_list.[24]}}°</li>
                </ul>
            </div>

            <div class="card" style="width: 18rem;">
                <img src={{icon_list.[25]}} class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{date_list.[25]}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Weather: {{desc_list.[25]}}</li>
                    <li class="list-group-item">Min. temperature: {{min_temp_list.[25]}}°C<br />Max.
                        temperature.: {{max_temp_list.[25]}}°C<br />Feels like temperature: {{feel_temp_list.[25]}}°C
                    </li>
                    <li class="list-group-item">Pressure: {{pressure_list.[25]}} hPa</li>
                    <li class="list-group-item">Humidity: {{hum_list.[25]}}%</li>
                    <li class="list-group-item">Wind speed: {{wind_speed_list.[25]}} km/h<br />Wind
                        degrees: {{wind_deg_list.[25]}}°</li>
                </ul>
            </div>

            <div class="card" style="width: 18rem;">
                <img src={{icon_list.[26]}} class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{date_list.[26]}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Weather: {{desc_list.[26]}}</li>
                    <li class="list-group-item">Min. temperature: {{min_temp_list.[26]}}°C<br />Max.
                        temperature.: {{max_temp_list.[26]}}°C<br />Feels like temperature: {{feel_temp_list.[26]}}°C
                    </li>
                    <li class="list-group-item">Pressure: {{pressure_list.[26]}} hPa</li>
                    <li class="list-group-item">Humidity: {{hum_list.[26]}}%</li>
                    <li class="list-group-item">Wind speed: {{wind_speed_list.[26]}} km/h<br />Wind
                        degrees: {{wind_deg_list.[26]}}°</li>
                </ul>
            </div>

            <div class="card" style="width: 18rem;">
                <img src={{icon_list.[27]}} class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{date_list.[27]}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Weather: {{desc_list.[27]}}</li>
                    <li class="list-group-item">Min. temperature: {{min_temp_list.[27]}}°C<br />Max.
                        temperature.: {{max_temp_list.[27]}}°C<br />Feels like temperature: {{feel_temp_list.[27]}}°C
                    </li>
                    <li class="list-group-item">Pressure: {{pressure_list.[27]}} hPa</li>
                    <li class="list-group-item">Humidity: {{hum_list.[27]}}%</li>
                    <li class="list-group-item">Wind speed: {{wind_speed_list.[27]}} km/h<br />Wind
                        degrees: {{wind_deg_list.[27]}}°</li>
                </ul>
            </div>

            <div class="card" style="width: 18rem;">
                <img src={{icon_list.[28]}} class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{date_list.[28]}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Weather: {{desc_list.[28]}}</li>
                    <li class="list-group-item">Min. temperature: {{min_temp_list.[28]}}°C<br />Max.
                        temperature.: {{max_temp_list.[28]}}°C<br />Feels like temperature: {{feel_temp_list.[28]}}°C
                    </li>
                    <li class="list-group-item">Pressure: {{pressure_list.[28]}} hPa</li>
                    <li class="list-group-item">Humidity: {{hum_list.[28]}}%</li>
                    <li class="list-group-item">Wind speed: {{wind_speed_list.[28]}} km/h<br />Wind
                        degrees: {{wind_deg_list.[28]}}°</li>
                </ul>
            </div>

            <div class="card" style="width: 18rem;">
                <img src={{icon_list.[29]}} class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{date_list.[29]}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Weather: {{desc_list.[29]}}</li>
                    <li class="list-group-item">Min. temperature: {{min_temp_list.[29]}}°C<br />Max.
                        temperature.: {{max_temp_list.[29]}}°C<br />Feels like temperature: {{feel_temp_list.[29]}}°C
                    </li>
                    <li class="list-group-item">Pressure: {{pressure_list.[29]}} hPa</li>
                    <li class="list-group-item">Humidity: {{hum_list.[29]}}%</li>
                    <li class="list-group-item">Wind speed: {{wind_speed_list.[29]}} km/h<br />Wind
                        degrees: {{wind_deg_list.[29]}}°</li>
                </ul>
            </div>

            <div class="card" style="width: 18rem;">
                <img src={{icon_list.[30]}} class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{date_list.[30]}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Weather: {{desc_list.[30]}}</li>
                    <li class="list-group-item">Min. temperature: {{min_temp_list.[30]}}°C<br />Max.
                        temperature.: {{max_temp_list.[30]}}°C<br />Feels like temperature: {{feel_temp_list.[30]}}°C
                    </li>
                    <li class="list-group-item">Pressure: {{pressure_list.[30]}} hPa</li>
                    <li class="list-group-item">Humidity: {{hum_list.[30]}}%</li>
                    <li class="list-group-item">Wind speed: {{wind_speed_list.[30]}} km/h<br />Wind
                        degrees: {{wind_deg_list.[30]}}°</li>
                </ul>
            </div>

            <div class="card" style="width: 18rem;">
                <img src={{icon_list.[31]}} class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{date_list.[31]}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Weather: {{desc_list.[31]}}</li>
                    <li class="list-group-item">Min. temperature: {{min_temp_list.[31]}}°C<br />Max.
                        temperature.: {{max_temp_list.[31]}}°C<br />Feels like temperature: {{feel_temp_list.[31]}}°C
                    </li>
                    <li class="list-group-item">Pressure: {{pressure_list.[31]}} hPa</li>
                    <li class="list-group-item">Humidity: {{hum_list.[31]}}%</li>
                    <li class="list-group-item">Wind speed: {{wind_speed_list.[31]}} km/h<br />Wind
                        degrees: {{wind_deg_list.[31]}}°</li>
                </ul>
            </div>

            <div class="card" style="width: 18rem;">
                <img src={{icon_list.[32]}} class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{date_list.[32]}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Weather: {{desc_list.[32]}}</li>
                    <li class="list-group-item">Min. temperature: {{min_temp_list.[32]}}°C<br />Max.
                        temperature.: {{max_temp_list.[32]}}°C<br />Feels like temperature: {{feel_temp_list.[32]}}°C
                    </li>
                    <li class="list-group-item">Pressure: {{pressure_list.[32]}} hPa</li>
                    <li class="list-group-item">Humidity: {{hum_list.[32]}}%</li>
                    <li class="list-group-item">Wind speed: {{wind_speed_list.[32]}} km/h<br />Wind
                        degrees: {{wind_deg_list.[32]}}°</li>
                </ul>
            </div>

            <div class="card" style="width: 18rem;">
                <img src={{icon_list.[33]}} class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{date_list.[33]}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Weather: {{desc_list.[33]}}</li>
                    <li class="list-group-item">Min. temperature: {{min_temp_list.[33]}}°C<br />Max.
                        temperature.: {{max_temp_list.[33]}}°C<br />Feels like temperature: {{feel_temp_list.[33]}}°C
                    </li>
                    <li class="list-group-item">Pressure: {{pressure_list.[33]}} hPa</li>
                    <li class="list-group-item">Humidity: {{hum_list.[33]}}%</li>
                    <li class="list-group-item">Wind speed: {{wind_speed_list.[33]}} km/h<br />Wind
                        degrees: {{wind_deg_list.[33]}}°</li>
                </ul>
            </div>

            <div class="card" style="width: 18rem;">
                <img src={{icon_list.[34]}} class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{date_list.[34]}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Weather: {{desc_list.[34]}}</li>
                    <li class="list-group-item">Min. temperature: {{min_temp_list.[34]}}°C<br />Max.
                        temperature.: {{max_temp_list.[34]}}°C<br />Feels like temperature: {{feel_temp_list.[34]}}°C
                    </li>
                    <li class="list-group-item">Pressure: {{pressure_list.[34]}} hPa</li>
                    <li class="list-group-item">Humidity: {{hum_list.[34]}}%</li>
                    <li class="list-group-item">Wind speed: {{wind_speed_list.[34]}} km/h<br />Wind
                        degrees: {{wind_deg_list.[34]}}°</li>
                </ul>
            </div>

            <div class="card" style="width: 18rem;">
                <img src={{icon_list.[35]}} class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{date_list.[35]}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Weather: {{desc_list.[35]}}</li>
                    <li class="list-group-item">Min. temperature: {{min_temp_list.[35]}}°C<br />Max.
                        temperature.: {{max_temp_list.[35]}}°C<br />Feels like temperature: {{feel_temp_list.[35]}}°C
                    </li>
                    <li class="list-group-item">Pressure: {{pressure_list.[35]}} hPa</li>
                    <li class="list-group-item">Humidity: {{hum_list.[35]}}%</li>
                    <li class="list-group-item">Wind speed: {{wind_speed_list.[35]}} km/h<br />Wind
                        degrees: {{wind_deg_list.[35]}}°</li>
                </ul>
            </div>

            <div class="card" style="width: 18rem;">
                <img src={{icon_list.[36]}} class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{date_list.[36]}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Weather: {{desc_list.[36]}}</li>
                    <li class="list-group-item">Min. temperature: {{min_temp_list.[36]}}°C<br />Max.
                        temperature.: {{max_temp_list.[36]}}°C<br />Feels like temperature: {{feel_temp_list.[36]}}°C
                    </li>
                    <li class="list-group-item">Pressure: {{pressure_list.[36]}} hPa</li>
                    <li class="list-group-item">Humidity: {{hum_list.[36]}}%</li>
                    <li class="list-group-item">Wind speed: {{wind_speed_list.[36]}} km/h<br />Wind
                        degrees: {{wind_deg_list.[36]}}°</li>
                </ul>
            </div>

            <div class="card" style="width: 18rem;">
                <img src={{icon_list.[37]}} class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{date_list.[37]}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Weather: {{desc_list.[37]}}</li>
                    <li class="list-group-item">Min. temperature: {{min_temp_list.[37]}}°C<br />Max.
                        temperature.: {{max_temp_list.[37]}}°C<br />Feels like temperature: {{feel_temp_list.[37]}}°C
                    </li>
                    <li class="list-group-item">Pressure: {{pressure_list.[37]}} hPa</li>
                    <li class="list-group-item">Humidity: {{hum_list.[37]}}%</li>
                    <li class="list-group-item">Wind speed: {{wind_speed_list.[37]}} km/h<br />Wind
                        degrees: {{wind_deg_list.[37]}}°</li>
                </ul>
            </div>

            <div class="card" style="width: 18rem;">
                <img src={{icon_list.[38]}} class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{date_list.[38]}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Weather: {{desc_list.[38]}}</li>
                    <li class="list-group-item">Min. temperature: {{min_temp_list.[38]}}°C<br />Max.
                        temperature.: {{max_temp_list.[38]}}°C<br />Feels like temperature: {{feel_temp_list.[38]}}°C
                    </li>
                    <li class="list-group-item">Pressure: {{pressure_list.[38]}} hPa</li>
                    <li class="list-group-item">Humidity: {{hum_list.[38]}}%</li>
                    <li class="list-group-item">Wind speed: {{wind_speed_list.[38]}} km/h<br />Wind
                        degrees: {{wind_deg_list.[38]}}°</li>
                </ul>
            </div>

            <div class="card" style="width: 18rem;">
                <img src={{icon_list.[39]}} class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{date_list.[39]}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Weather: {{desc_list.[39]}}</li>
                    <li class="list-group-item">Min. temperature: {{min_temp_list.[39]}}°C<br />Max.
                        temperature.: {{max_temp_list.[39]}}°C<br />Feels like temperature: {{feel_temp_list.[39]}}°C
                    </li>
                    <li class="list-group-item">Pressure: {{pressure_list.[39]}} hPa</li>
                    <li class="list-group-item">Humidity: {{hum_list.[39]}}%</li>
                    <li class="list-group-item">Wind speed: {{wind_speed_list.[39]}} km/h<br />Wind
                        degrees: {{wind_deg_list.[39]}}°</li>
                </ul>
            </div>
            {{/if}}
        </main>

        <footer>
            cloudo - all rights reserved &copy;
        </footer>

    </div>





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/index.jquery.js"></script>
</body>

</html>